<div class="signup-container">
  <button (click)="signUpWithGoogle()">Sign up with Google</button>
  <button (click)="signInWithFB()">Sign up with Facebook</button>

  <p class="alternative-signup">or sign up with your email address</p>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" />
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
    </div>

    <button type="submit">Sign up</button>
  </form>
</div>
