# Java and Gradle
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz
*.rar
*.ser
*.sh
*.bat
*.properties
*.lock
.hs_err_pid*

# Gradle build directory and wrapper
/build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Maven build directory
/target/

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/


# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# macOS
.DS_Store

# Angular
/node_modules/
/dist/
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local

# Angular CLI
.angular/

# Editors
*.sublime*
*.suo
*.sln.docstates
*.sln.ide/
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
*.jfm
*.bsproj
*.ruleset
*.vsmdi
*.vssscc
*.bak_*
*.[Cc]ache
*.[Oo]bj
*.[Bb]in
*.[Dd]ebug*/
*.[Rr]elease*/
*.[Tt]est[Rr]esults
_ReSharper.*
*.resharper
*.ncrunch*
*.teamcity
*.dotSettings
*.testsettings
*.docstates
*.psess
*.vsp
*.vspx
*.userosscache
*.suo
*.user
*.sln.docstates
*.cache
*.nuget.props
*.pidb
*.svclog
*.scc

# Others
*.bak
*.cache
*.swp
*.back~
*.bak
*~
*~
*.tmp
*.tlog
*.vsp
*.user
*.suo
*.userosscache
*.dbmdl
*.dbproj.schemaview
*.psess
*.vsp
*.vspx
*.log
*.scc

# End of .gitignore